

<nav class="bg-main-000">
    <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4">
        <a routerLink="main/home"
            class="flex items-center space-x-3 rtl:space-x-reverse ">
            <img src="/Preview.png" class="w-[120px]"
                alt="Flowbite Logo" />

        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto flex-grow-1"
            id="navbar-default">
            <div class="md:flex md:justify-between md:mx-4 text-main-800 ">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 borderrounded-lg  md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 capitalize">
                    <li class="mt-2">
                        <a routerLink="main/home"
                            routerLinkActive="!bg-main-600 !text-white transition-colors"
                            class="!p-1  rounded-md md:bg-transparent  md:p-0 "
                            aria-current="page">Home</a>
                    </li>
                    <li class="mt-2">
                        <a routerLink="main/cart"
                            routerLinkActive="!bg-main-600 !text-white transition-colors"
                            class="!p-1  rounded-md md:bg-transparent  md:p-0 "
                            aria-current="page">cart</a>
                    </li>
                    <li class="mt-2">
                        <a routerLink="main/categories"
                            routerLinkActive="!bg-main-600 !text-white transition-colors"
                            class="!p-1  rounded-md md:bg-transparent  md:p-0 "
                            aria-current="page">categories</a>
                    </li>
                    <li class="mt-2">
                        <a routerLink="main/products"
                            routerLinkActive="!bg-main-600 !text-white transition-colors"
                            class="!p-1  rounded-md md:bg-transparent  md:p-0 "
                            aria-current="page">products</a>
                    </li>
                    <li class="mt-2">
                        <a routerLink="main/brands"
                            routerLinkActive="!bg-main-600 !text-white transition-colors"
                            class="!p-1  rounded-md md:bg-transparent  md:p-0 "
                            aria-current="page">brands</a>
                    </li>

                </ul>
                <div class="md:flex md:justify-between">
                    <ul
                        class="font-medium flex flex-col p-4 md:p-0 mt-4 borderrounded-lg  md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 capitalize">
                        @if(!token){
                        <li class="mt-2">

                            <a routerLink="register"
                                routerLinkActive="!bg-main-600 !text-white transition-colors"
                                class="!p-1  rounded-md md:bg-transparent  md:p-0 "
                                aria-current="page">Sign Up</a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="login"
                                routerLinkActive="!bg-main-600 !text-white transition-colors"
                                class="!p-1  rounded-md md:bg-transparent  md:p-0 "
                                aria-current="page">Sign In</a>
                        </li>
                        }
                        @else{
                        <button (click)="logout()"
                            class="!p-1 text-left">Logout</button>
                        }

                    </ul>
                </div>

            </div>
        </div>
    </div>
</nav>
