
<header class="flex flex-col justify-center items-start p-8 ">
    <div class="w-2/3 z-10">
        <h1
            class="my-4 py-5 text-4xl md:text-7xl bg-gradient-to-r from-white to-black text-transparent bg-clip-text ">Elevate
            Your Style</h1>
        <p class="text-2xl">Discover our curated collection of
            premium <br>
            fashion
            essentials</p>
        <div class="mt-6">
            <a routerLink="product"
                class="btn-main py-2 px-5">Explore
                Collection</a>
        </div>
    </div>

</header>

<app-home-categories></app-home-categories>