
<header class="flex flex-col justify-center items-start p-8 ">
    <div class="w-full z-10 text-center">
        <h1
            class="my-4 px-2 py-5 text-5xl md:text-6xl bg-gradient-to-r from-white to-black text-transparent bg-clip-text ">
            Your Instant Hypermarket</h1>
        <p class=" text-white">Thousands of products delivered in under
            30
            minutes</p>
        <div class="mt-6">
            <a routerLink="/products"
                class="btn-main py-2 px-5">Shop Now</a>
        </div>
    </div>

</header>

<app-home-categories></app-home-categories>

<app-product></app-product>