<footer class="!px-4 py-9 bg-main-000">
    <div class="mx-auto px-2 md:px-0">
        <!-- <h2 class="text-xl">Get The Fast-Cart App</h2>
        <h3 class="text-main-200 text-sm">
            We Will send you a link, open it on your phone to download the app.
        </h3>
        <div class="flex space-x-2 my-3">
            <input
                type="email"
                id="contactEmail"
                class="bg-gray-50 border w-[80%] border-main-400 text-black text-sm rounded-lg focus:ring-main-200 focus:border-mainring-main-200 block p-2"
                placeholder="name@flowbite.com"
                required />

            <button
                class="px-3 py-2 bg-main-600 hover:bg-main-800 transition-all text-white rounded w-[30%]">
                Share App Link
            </button>
        </div> -->
        <!-- Footer Payment -->
        <div
            class="flex-col md:flex-row md:flex justify-between items-center mt-7 mb-1 py-7 border-t-1 border-main-100">
            <div class="flex items-center space-x-2">
                <p class="text-xl font-normal">Payment Partners</p>
                <div class="flex space-x-3">
                    <img
                        class="w-[30px]"
                        src="./images/amazon-pay.png"
                        alt="Fresh Car amazon" />
                    <img
                        class="w-[30px]"
                        src="./images/American-Express-Color.png"
                        alt="Fresh Cart  American" />
                    <img
                        class="w-[30px]"
                        src="./images/mastercard.webp"
                        alt="Fresh Cart  mastercard" />
                    <img
                        class="w-[30px]"
                        src="./images/paypal.png"
                        alt="Fresh Cart  paypal" />
                </div>
            </div>
            <div class="mt-3 md:mt-0">
                <p>Get Deliveries With Fast-Cart</p>
                <div class="flex">
                    <img
                        class="w-[150px]"
                        src="./images/get-apple-store.png"
                        alt="Fresh Cart AppStore" />
                    <img
                        class="w-[150px]"
                        src="./images/get-google-play.png"
                        alt="Fresh Cart Google Play" />
                </div>
            </div>
        </div>
        <!-- Footer Links -->
        <div class="border-b-1 mb-7 pb-7  border-main-100">
            <ul
                class="font-medium flex justify-center p-2 md:p-0 mt-2 borderrounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 capitalize">
                <li>
                    <a href="facebook.com"
                        class="block py-2 px-3  rounded-sm md:bg-transparent md:p-0 text-main-200"
                        aria-current="page"><i
                            class="fa-brands hover:text-main-600 transition-colors fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="tiktok.com"
                        class="block py-2 px-3  rounded-sm md:bg-transparent md:p-0 text-main-200"
                        aria-current="page"><i
                            class="fa-brands hover:text-main-600 transition-colors fa-tiktok"></i></a>
                </li>
                <li>
                    <a href="instagram.com"
                        class="block py-2 px-3  rounded-sm md:bg-transparent md:p-0 text-main-200"
                        aria-current="page"><i
                            class="fa-brands hover:text-main-600 transition-colors fa-instagram"></i></a>
                </li>
                <li>
                    <a href="twitter.com"
                        class="block py-2 px-3  rounded-sm md:bg-transparent md:p-0 text-main-200"
                        aria-current="page"><i
                            class="fa-brands hover:text-main-600 transition-colors fa-twitter"></i></a>
                </li>
                <li>
                    <a href="linkedin.com"
                        class="block py-2 px-3  rounded-sm md:bg-transparent md:p-0 text-main-200"
                        aria-current="page"><i
                            class="fa-brands hover:text-main-600 transition-colors fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="youtube.com"
                        class="block py-2 px-3  rounded-sm md:bg-transparent md:p-0 text-main-200"
                        aria-current="page"><i
                            class="fa-brands hover:text-main-600 transition-colors fa-youtube"></i></a>
                </li>

            </ul>
        </div>
    </div>
</footer>
