/* You can add global styles to this file, and also import other style files */
@import "./styles/typography/typography.css";
@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "./styles/variables/variables.css";
@import "./styles/themes/themes.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


.btn-main {
    @apply rounded-full bg-main-700 text-white hover:bg-main-800 transition-colors
}

.disabled {
    @apply disabled:hover:bg-main-100 disabled:cursor-not-allowed disabled:bg-main-100
}

input.ng-invalid.ng-touched {
    @apply border-red-500 ring-1 ring-red-500
}

*::selection {
    background-color: #334d4d;
    color: #fff;
}

.card {
    @apply shadow-xl hover:transform hover:scale-105
}

.myTransition {
    transition: all 0.5s;
    transition-duration: 300ms;
}